<h1>
  Here all the posts
</h1>



<ul>
  <% @posts.each do |i| %>
    <li>
      <p>
        <%= i.title + i.text  %>
        <%= link_to "Show", post_path(i) %>
      </p>
    </li>
  <% end %>
</ul>
